# Lesson 10: Creating and Modifying Tables in PostgreSQL

This notebook covers essential SQL operations for database table management:
- Creating tables
- Inserting data
- Updating data
- Importing data from CSV files
- Working with LucidChart exported SQL

**Database Location:** `/workspaces/Fall2025-MS3083-Base_Template/databases/`

## Setup: Import Libraries and Connect to PostgreSQL

First, we'll import the necessary libraries and establish a connection to PostgreSQL.

**Note:** This notebook is configured to use the `student` PostgreSQL user that's set up in your dev container. If you need to use a different user, update the `DB_USER` variable in the cell below.

In [1]:
# Import necessary libraries
import psycopg2  # PostgreSQL adapter for Python - allows direct database connections
import pandas as pd  # Data manipulation library - makes working with tables easy
from sqlalchemy import create_engine, text  # SQLAlchemy - modern database toolkit for Python
import os  # Operating system interface - for file path operations
import csv  # CSV file handling - for creating and reading CSV files

# Database connection parameters
DB_NAME = "lesson10_demo"  # Name of the database we'll create/connect to
DB_USER = "student"  # PostgreSQL username (changed from "postgres" to match your system)
DB_PASSWORD = ""  # Password (empty for local connections in this dev container)
DB_HOST = "localhost"  # Server location (localhost = this machine)
DB_PORT = "5432"  # PostgreSQL default port

# Create connection string for SQLAlchemy
# Format: postgresql://username:password@host:port/database
connection_string = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Create database if it doesn't exist
try:
    # Connect to the default 'postgres' database first (always exists)
    conn = psycopg2.connect(
        dbname="postgres",  # Connect to default database
        user=DB_USER,
        password=DB_PASSWORD,
        host=DB_HOST,
        port=DB_PORT
    )
    conn.autocommit = True  # Enable autocommit mode (changes happen immediately)
    cursor = conn.cursor()  # Create cursor object to execute SQL commands
    
    # Check if our target database already exists
    cursor.execute(f"SELECT 1 FROM pg_database WHERE datname = '{DB_NAME}'")
    exists = cursor.fetchone()  # Get the result (None if database doesn't exist)
    
    if not exists:
        # Database doesn't exist, so create it
        cursor.execute(f"CREATE DATABASE {DB_NAME}")
        print(f"Database '{DB_NAME}' created successfully!")
    else:
        # Database already exists
        print(f"Database '{DB_NAME}' already exists.")
    
    # Clean up: close cursor and connection
    cursor.close()
    conn.close()
except Exception as e:
    # If anything goes wrong, print the error message
    print(f"Error: {e}")

# Now connect to our new database using SQLAlchemy
# SQLAlchemy engine manages connections and provides modern database features
engine = create_engine(connection_string)
print(f"Connected to database: {DB_NAME}")

Database 'lesson10_demo' created successfully!
Connected to database: lesson10_demo

## 1. Creating a Table from Scratch

In this section, we'll create a `students` table with various column types commonly used in databases.

**Key Concepts:**
- **SERIAL**: Auto-incrementing integer, perfect for ID columns
- **PRIMARY KEY**: Uniquely identifies each row
- **VARCHAR(n)**: Variable-length text up to n characters
- **NOT NULL**: Field must have a value
- **UNIQUE**: No two rows can have the same value
- **DATE/TIMESTAMP**: Store dates and times
- **DECIMAL(p,s)**: Numbers with exact precision (p=total digits, s=decimal places)
- **CHECK**: Validates data meets certain conditions
- **DEFAULT**: Provides automatic values if none specified
- **BOOLEAN**: True/False values

In [ ]:
# Define the SQL statement to create a students table
create_table_sql = """
CREATE TABLE IF NOT EXISTS students (
    student_id SERIAL PRIMARY KEY,                                    -- Auto-incrementing ID (1, 2, 3...)
    first_name VARCHAR(50) NOT NULL,                                  -- First name (required, max 50 chars)
    last_name VARCHAR(50) NOT NULL,                                   -- Last name (required, max 50 chars)
    email VARCHAR(100) UNIQUE,                                        -- Email (must be unique across all students)
    enrollment_date DATE DEFAULT CURRENT_DATE,                        -- Date enrolled (defaults to today)
    gpa DECIMAL(3,2) CHECK (gpa >= 0.0 AND gpa <= 4.0),              -- GPA (2 decimal places, must be 0.0-4.0)
    is_active BOOLEAN DEFAULT TRUE,                                   -- Active status (defaults to true)
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP                    -- When record was created
);
"""

# Execute the CREATE TABLE statement
with engine.connect() as connection:
    # text() wraps the SQL string so SQLAlchemy 2.0+ can execute it
    connection.execute(text(create_table_sql))
    connection.commit()  # Save the changes to the database
    print("Table 'students' created successfully!")

# Verify the table structure by querying PostgreSQL's information schema
query = """
SELECT column_name, data_type, character_maximum_length, is_nullable
FROM information_schema.columns
WHERE table_name = 'students'
ORDER BY ordinal_position;
"""

# Use pandas to read the query results into a DataFrame for easy viewing
df = pd.read_sql(query, engine)
print("\nTable structure:")
print(df)

## 2. Inserting Data into a Table

Now that we have a table, let's add data to it. There are several ways to insert data.

### Method 1: Single Row Insert

This method inserts one row at a time. It's useful when:
- Adding individual records
- Getting data from user input
- You need to insert records one at a time

**Syntax:** `INSERT INTO table_name (column1, column2, ...) VALUES (value1, value2, ...);`

**Important Note About UNIQUE Constraints:**
- The `email` column has a UNIQUE constraint
- If you try to insert a duplicate email, you'll get an error
- If you run this cell multiple times, it will fail after the first time
- Solution: Either delete the data first, or use a different email address

### Understanding Database Constraints and Errors

Before we insert data, it's important to understand database constraints:

**UNIQUE Constraint:**
- Ensures no two rows can have the same value in that column
- In our `students` table, `email` must be unique
- Attempting to insert a duplicate email will throw an error: `UniqueViolation`

**Common Error When Re-Running Cells:**
```
IntegrityError: duplicate key value violates unique constraint "students_email_key"
```

**Solutions:**
1. **Clear existing data first** (use DELETE - shown in next cell)
2. **Use different values** (change email addresses)
3. **Use INSERT ... ON CONFLICT** (PostgreSQL-specific, more advanced)

Let's see how to handle this properly!

In [ ]:
# First, let's clear any existing data to avoid UNIQUE constraint violations
# This is helpful when re-running the notebook multiple times
clear_data_sql = """
DELETE FROM students;  -- Remove all existing student records
"""

try:
    with engine.connect() as connection:
        connection.execute(text(clear_data_sql))
        connection.commit()
        print("Cleared existing data from students table")
except Exception as e:
    print(f"Note: {e}")

# Now define SQL to insert a single student record
insert_single_sql = """
INSERT INTO students (first_name, last_name, email, gpa)
VALUES ('John', 'Doe', 'john.doe@example.com', 3.75);
"""
# Note: We don't specify student_id (auto-generated), enrollment_date, is_active, 
# or created_at (they use DEFAULT values)

# Execute the INSERT statement
try:
    with engine.connect() as connection:
        connection.execute(text(insert_single_sql))  # text() wraps the SQL string
        connection.commit()  # Commit the transaction to save the data
        print("✓ Single row inserted successfully!")
except Exception as e:
    # If there's an error (like duplicate email), show a friendly message
    print(f"⚠ Insert failed: {e}")
    print("\nTip: If you see a 'duplicate key' error, the email already exists.")
    print("     Run the DELETE statement in the cell above to clear the data first.")

# Query the table to see our inserted data
df = pd.read_sql("SELECT * FROM students;", engine)
print(f"\nCurrent data in students table ({len(df)} rows):")
print(df)

### Method 2: Multiple Row Insert

This method inserts multiple rows in a single SQL statement. It's more efficient than multiple single-row inserts because:
- It reduces the number of round trips to the database
- It's faster for bulk data insertion
- It uses fewer resources

**Syntax:** `INSERT INTO table_name (columns...) VALUES (row1...), (row2...), (row3...);`

In [ ]:
# Define SQL to insert multiple student records at once
insert_multiple_sql = """
INSERT INTO students (first_name, last_name, email, gpa) VALUES
    ('Jane', 'Smith', 'jane.smith@example.com', 3.90),        -- Student 1
    ('Bob', 'Johnson', 'bob.johnson@example.com', 3.45),      -- Student 2
    ('Alice', 'Williams', 'alice.williams@example.com', 3.85), -- Student 3
    ('Charlie', 'Brown', 'charlie.brown@example.com', 3.20);  -- Student 4
"""
# Each row is separated by a comma, last row ends with semicolon

# Execute the multi-row INSERT statement
with engine.connect() as connection:
    connection.execute(text(insert_multiple_sql))
    connection.commit()  # Save all rows at once
    print("Multiple rows inserted successfully!")

# Query all students, ordered by ID
df = pd.read_sql("SELECT * FROM students ORDER BY student_id;", engine)
print("\nAll students:")
print(df)

## 3. Updating Data in a Table

The UPDATE statement modifies existing records in a table. **ALWAYS use a WHERE clause** to specify which rows to update, or you'll update ALL rows!

**Syntax:** `UPDATE table_name SET column1 = value1, column2 = value2 WHERE condition;`

**Important:** 
- Without WHERE, ALL rows will be updated
- Use WHERE to target specific rows
- You can update multiple columns at once
- The UPDATE returns the number of rows affected

In [ ]:
# Define SQL to update a specific student's GPA
update_sql = """
UPDATE students                                  -- Table to update
SET gpa = 3.95                                   -- Set GPA to new value
WHERE email = 'john.doe@example.com';            -- Only update John Doe's record
"""
# The WHERE clause is crucial - without it, ALL students would get gpa = 3.95!

# Execute the UPDATE statement
with engine.connect() as connection:
    result = connection.execute(text(update_sql))
    connection.commit()  # Commit the changes
    # result.rowcount tells us how many rows were affected
    print(f"Updated {result.rowcount} row(s)")

# Query to verify the update worked
df = pd.read_sql("SELECT * FROM students WHERE email = 'john.doe@example.com';", engine)
print("\nUpdated student record:")
print(df)

### Update Multiple Records

You can update many rows at once using a WHERE clause that matches multiple records. This is useful for:
- Batch updates based on conditions
- Changing status flags for groups of records
- Applying business rules to multiple rows

The WHERE clause can use comparison operators: `=`, `<`, `>`, `<=`, `>=`, `!=`, `BETWEEN`, `IN`, etc.

In [ ]:
# Define SQL to update multiple students based on a condition
update_multiple_sql = """
UPDATE students                                  -- Table to update
SET is_active = FALSE                            -- Set is_active to FALSE
WHERE gpa < 3.50;                                -- For all students with GPA below 3.50
"""
# This will update Bob (3.45) and Charlie (3.20), but not Jane (3.90), Alice (3.85), or John (3.95)

# Execute the UPDATE statement
with engine.connect() as connection:
    result = connection.execute(text(update_multiple_sql))
    connection.commit()  # Commit the changes
    # rowcount tells us how many rows matched the WHERE condition
    print(f"Updated {result.rowcount} row(s)")

# Query all students to see the results of our batch update
df = pd.read_sql("SELECT * FROM students ORDER BY student_id;", engine)
print("\nAll students after update:")
print(df)

## 4. Uploading Data from a CSV File

CSV (Comma-Separated Values) files are a common format for storing tabular data. We can easily import CSV data into PostgreSQL tables using pandas.

**Process:**
1. Read the CSV file using pandas (`pd.read_csv()`)
2. Create a table structure (or let pandas create it automatically)
3. Use pandas' `to_sql()` method to upload the data

**Benefits:**
- Fast bulk data loading
- Handles data type conversion automatically
- Works with large datasets
- Can update existing tables or create new ones

In [ ]:
# First, let's create a sample CSV file for demonstration
import csv

# Define the path where we'll save the CSV file
csv_file_path = '/workspaces/Fall2025-MS3083-Base_Template/databases/sample_courses.csv'

# Create sample course data as a list of lists
# First row contains column headers, remaining rows contain data
course_data = [
    ['course_code', 'course_name', 'credits', 'department'],                  # Header row
    ['CS101', 'Introduction to Computer Science', 3, 'Computer Science'],     # Data row 1
    ['MATH201', 'Calculus I', 4, 'Mathematics'],                              # Data row 2
    ['ENG101', 'English Composition', 3, 'English'],                          # Data row 3
    ['PHYS101', 'General Physics', 4, 'Physics'],                             # Data row 4
    ['HIST201', 'World History', 3, 'History']                                # Data row 5
]

# Write the data to a CSV file
with open(csv_file_path, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)  # Create a CSV writer object
    writer.writerows(course_data)  # Write all rows at once

print(f"Sample CSV file created at: {csv_file_path}")

# Read the CSV file using pandas to verify it was created correctly
df_csv = pd.read_csv(csv_file_path)
print("\nCSV file contents:")
print(df_csv)

### Upload CSV Data to PostgreSQL Table

Now we'll create a table and import the CSV data into it.

In [ ]:
# Define the table structure for courses
create_courses_table = """
CREATE TABLE IF NOT EXISTS courses (
    course_code VARCHAR(20) PRIMARY KEY,          -- Course code (e.g., CS101) - unique identifier
    course_name VARCHAR(200) NOT NULL,            -- Full course name (required)
    credits INTEGER CHECK (credits > 0),          -- Number of credits (must be positive)
    department VARCHAR(100) NOT NULL              -- Department offering the course
);
"""

# Create the table in the database
with engine.connect() as connection:
    connection.execute(text(create_courses_table))
    connection.commit()
    print("Table 'courses' created successfully!")

# Now upload the CSV data to the table using pandas
# if_exists='append' means: add to existing data (don't replace or fail)
# index=False means: don't insert the DataFrame index as a column
df_csv.to_sql('courses', engine, if_exists='append', index=False)
print(f"Uploaded {len(df_csv)} rows from CSV to 'courses' table")

# Verify the data was uploaded correctly
df_verify = pd.read_sql("SELECT * FROM courses ORDER BY course_code;", engine)
print("\nData in courses table:")
print(df_verify)

### Upload Your Own CSV File

Use this cell to upload data from your own CSV file. This is a template you can customize for any CSV file you want to import.

**Instructions:**
1. Update the `csv_file_path` variable with the path to your CSV file
2. Update the `table_name` variable with your desired table name
3. Run the cell to create the table and import the data

**Options for `if_exists` parameter:**
- `'fail'`: Raise an error if table already exists (safest)
- `'replace'`: Drop the existing table and create a new one (destructive!)
- `'append'`: Add data to existing table (most common for data loading)

In [ ]:
# ===== CUSTOMIZE THESE VARIABLES =====
csv_file_path = '/workspaces/Fall2025-MS3083-Base_Template/databases/your_file.csv'  # Path to your CSV file
table_name = 'your_table_name'  # Name for the table in PostgreSQL
# ======================================

# Read the CSV file into a pandas DataFrame
df_custom = pd.read_csv(csv_file_path)
print(f"CSV file loaded: {len(df_custom)} rows")
print("\nFirst few rows:")
print(df_custom.head())  # Show first 5 rows to verify data

# Upload the DataFrame to PostgreSQL
# if_exists options: 'fail', 'replace', 'append'
# 'replace' will drop the existing table and create a new one
df_custom.to_sql(table_name, engine, if_exists='replace', index=False)
print(f"\nData uploaded to table '{table_name}'")

# Verify the upload by querying the first 10 rows
df_verify = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 10;", engine)
print(f"\nFirst 10 rows from '{table_name}' table:")
print(df_verify)

## 5. Paste LucidChart Exported SQL

LucidChart is a popular tool for designing database schemas visually. It can export your database design as SQL code, which you can then paste here to create all your tables at once.

**Instructions:**
1. In LucidChart, design your database schema (tables, columns, relationships)
2. Export your schema: File → Export → SQL (PostgreSQL format recommended)
3. Copy the exported SQL code
4. Paste it in the `lucidchart_sql` variable below (between the triple quotes)
5. Run the cell to create all tables

**What this cell does:**
- Splits the SQL by semicolons to execute each statement separately
- Skips comment lines (starting with --)
- Creates all tables defined in your LucidChart diagram
- Shows you a list of all tables created

In [2]:
# ===== PASTE YOUR LUCIDCHART SQL CODE BELOW =====
lucidchart_sql = """
-- The Simplified Kitchen Database Schema
-- Drop tables if they exist (CASCADE removes dependent objects)
DROP TABLE IF EXISTS sales CASCADE;
DROP TABLE IF EXISTS employees CASCADE;
DROP TABLE IF EXISTS recipes CASCADE;
DROP TABLE IF EXISTS menu_items CASCADE;
DROP TABLE IF EXISTS menu_item_types CASCADE;
DROP TABLE IF EXISTS inventory CASCADE;
DROP TABLE IF EXISTS wage CASCADE;
DROP TABLE IF EXISTS vendor CASCADE;
DROP TABLE IF EXISTS categories CASCADE;

-- CATEGORIES
CREATE TABLE categories (
  category_id    INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
  category_name  VARCHAR(50) NOT NULL UNIQUE
);

-- VENDOR
CREATE TABLE vendor (
  vendor_id      INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
  vendor_name    VARCHAR(50) NOT NULL UNIQUE,
  contact_name   VARCHAR(50) NOT NULL,
  phone_number   VARCHAR(20) NOT NULL
);

-- WAGE
CREATE TABLE wage (
  wage_id        INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
  hourly         VARCHAR(50) NOT NULL,
  wage_amount    NUMERIC(10,2) NOT NULL CHECK (wage_amount >= 0)
);

-- INVENTORY (references Category & Vendor)
CREATE TABLE inventory (
  inventory_id       INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
  item_name          VARCHAR(50) NOT NULL,
  category_id        INTEGER REFERENCES categories(category_id) ON DELETE SET NULL,
  vendor_id          INTEGER REFERENCES vendor(vendor_id) ON DELETE SET NULL,
  unit_of_measure    VARCHAR(20) NOT NULL,
  unit_cost          NUMERIC(10,2) NOT NULL CHECK (unit_cost >= 0),
  quantity_in_stock  NUMERIC(10,2) NOT NULL CHECK (quantity_in_stock >= 0),
  par_level          NUMERIC(10,2) NOT NULL CHECK (par_level >= 0)
);

-- MENU ITEM TYPES
CREATE TABLE menu_item_types (
  item_type_id  INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
  type_name     VARCHAR(50) NOT NULL UNIQUE
);

-- MENU ITEMS
CREATE TABLE menu_items (
  menu_item_id  INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
  item_name     VARCHAR(50) NOT NULL UNIQUE,
  price         NUMERIC(10,2) NOT NULL CHECK (price >= 0),
  item_type_id  INTEGER REFERENCES menu_item_types(item_type_id) ON DELETE SET NULL
);

-- RECIPES (join between menu_items and inventory)
CREATE TABLE recipes (
  menu_item_id   INTEGER NOT NULL REFERENCES menu_items(menu_item_id) ON DELETE CASCADE,
  inventory_id   INTEGER NOT NULL REFERENCES inventory(inventory_id) ON DELETE RESTRICT,
  quantity_used  NUMERIC(10,2) NOT NULL CHECK (quantity_used > 0),
  PRIMARY KEY (menu_item_id, inventory_id)
);

-- EMPLOYEES
CREATE TABLE employees (
  employee_id    INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
  employee_name  VARCHAR(50) NOT NULL,
  wage_id        INTEGER REFERENCES wage(wage_id) ON DELETE SET NULL,
  phone_number   VARCHAR(20) NOT NULL,
  email          VARCHAR(50) NOT NULL UNIQUE
);

-- SALES
CREATE TABLE sales (
  sales_id        INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
  menu_item_id    INTEGER REFERENCES menu_items(menu_item_id) ON DELETE RESTRICT,
  item_name       VARCHAR(50) NOT NULL,
  total_amount    NUMERIC(10,2) NOT NULL CHECK (total_amount >= 0),
  sale_date_time  TIMESTAMP NOT NULL,
  payment_method  VARCHAR(20) NOT NULL,
  employee_id     INTEGER NOT NULL REFERENCES employees(employee_id) ON DELETE SET NULL
);
"""
# ==================================================

# Execute the SQL code
try:
    with engine.connect() as connection:
        # Execute the entire SQL script at once
        # This preserves multi-line statements and handles comments properly
        connection.execute(text(lucidchart_sql))
        connection.commit()  # Commit all changes at once
        print("LucidChart SQL executed successfully!")
    
    # Query PostgreSQL's system tables to show all user-created tables
    tables_query = """
    SELECT table_name 
    FROM information_schema.tables 
    WHERE table_schema = 'public'
    ORDER BY table_name;
    """
    df_tables = pd.read_sql(tables_query, engine)
    print("\nAll tables in the database:")
    print(df_tables)
    
    # Show count of tables created
    print(f"\nTotal tables created: {len(df_tables)}")
    
except Exception as e:
    # If anything goes wrong, show the error message
    print(f"Error executing SQL: {e}")
    print("\nTroubleshooting tips:")
    print("1. Make sure all referenced tables are created before tables that reference them")
    print("2. Check for syntax errors in your SQL")
    print("3. Verify all table and column names are properly quoted if they contain special characters")
    print("4. If tables already exist, add DROP TABLE IF EXISTS statements at the beginning")

LucidChart SQL executed successfully!

All tables in the database:
        table_name
0       categories
1        employees
2        inventory
3  menu_item_types
4       menu_items
5          recipes
6            sales
7           vendor
8             wage

Total tables created: 9

## Example: Correcting Common SQL Errors

The cell below shows a corrected version of student-submitted code that had several common errors. 

**Common Errors Found and Fixed:**
1. **Invalid data types**: `CHR()` doesn't exist in PostgreSQL (use `VARCHAR` or `CHAR`)
2. **"Entity" placeholder tables**: Generic placeholder tables need real names
3. **TIMESTAMPZ typo**: Should be `TIMESTAMPTZ` (with two T's)
4. **Duplicate Entity tables**: Can't have multiple tables with the same name
5. **Circular foreign key dependencies**: Tables referencing each other incorrectly
6. **SERIAL in foreign keys**: Foreign keys should be `INT`, not `SERIAL`
7. **Duplicate index names**: All indexes named "NN" - each needs a unique name
8. **Duplicate CREATE statements**: Some code was duplicated at the end
9. **Missing DROP statements**: Should drop tables first to avoid errors on re-run

In [ ]:
# ===== CORRECTED STUDENT CODE =====
# Original code had many syntax errors - this version fixes them
corrected_sql = """
-- Drop tables in reverse dependency order
DROP TABLE IF EXISTS "Meals" CASCADE;
DROP TABLE IF EXISTS "Recipe" CASCADE;
DROP TABLE IF EXISTS "SALES" CASCADE;
DROP TABLE IF EXISTS "Time" CASCADE;
DROP TABLE IF EXISTS "EMPLOYEES" CASCADE;
DROP TABLE IF EXISTS "WAGE" CASCADE;
DROP TABLE IF EXISTS "TYPE" CASCADE;
DROP TABLE IF EXISTS "INV" CASCADE;
DROP TABLE IF EXISTS "INVENTORY" CASCADE;

-- WAGE table (fixed: INTERVAL changed to VARCHAR for hourly type)
CREATE TABLE "WAGE" (
  "Wage_ID" SERIAL PRIMARY KEY,
  "Hourly" VARCHAR(20),                    -- Changed from INTERVAL to VARCHAR
  "Wage" NUMERIC(10,2)
);
CREATE INDEX "idx_wage_hourly_wage" ON "WAGE" ("Hourly", "Wage");

-- EMPLOYEES table (fixed: CHR changed to VARCHAR, removed bad FK)
CREATE TABLE "EMPLOYEES" (
  "Employee_ID" SERIAL PRIMARY KEY,
  "Employee_Name" VARCHAR(30),              -- Changed from CHR(30) to VARCHAR(30)
  "Wage_ID" INT,                            -- Changed to reference Wage_ID instead of Wage
  "Phone_Number" BIGINT,
  "Email" VARCHAR(50),
  CONSTRAINT "FK_EMPLOYEES_Wage_ID"
    FOREIGN KEY ("Wage_ID")
    REFERENCES "WAGE"("Wage_ID")            -- Fixed: reference correct column
);
CREATE INDEX "idx_employees_info" ON "EMPLOYEES" ("Employee_Name", "Phone_Number", "Email");

-- INVENTORY table (must come before SALES because SALES references it indirectly)
CREATE TABLE "INVENTORY" (
  "Inv_ID" SERIAL PRIMARY KEY,
  "Name" VARCHAR(20),
  "Cost" REAL,
  "STK_AMT" INT,
  "Type" INT
);
CREATE INDEX "idx_inventory_info" ON "INVENTORY" ("Name", "Cost", "STK_AMT", "Type");

-- Recipe table (references INVENTORY)
CREATE TABLE "Recipe" (
  "Rec_ID" SERIAL PRIMARY KEY,
  "Name" VARCHAR(20),                       -- Changed from CHR(20) to VARCHAR(20)
  "Amount" SMALLINT,
  "Price" NUMERIC(10,2),
  "Inv_ID" INT,                             -- Changed from SERIAL to INT for FK
  CONSTRAINT "FK_Recipe_Inv_ID"
    FOREIGN KEY ("Inv_ID")
    REFERENCES "INVENTORY"("Inv_ID")
);
CREATE INDEX "idx_recipe_info" ON "Recipe" ("Name", "Amount", "Price");

-- Meals table (must come before SALES because SALES references it)
CREATE TABLE "Meals" (
  "Meal_ID" SERIAL PRIMARY KEY,
  "Name" VARCHAR(20),                       -- Changed from CHR(20) to VARCHAR(20)
  "Rec_ID" INT,
  "Price" NUMERIC(10,2)
);
CREATE INDEX "idx_meals_info" ON "Meals" ("Name", "Price");

-- Add foreign key to Recipe after Meals table exists
ALTER TABLE "Meals"
ADD CONSTRAINT "FK_Meals_Rec_ID"
  FOREIGN KEY ("Rec_ID")
  REFERENCES "Recipe"("Rec_ID");

-- SALES table (fixed: references Meal_ID properly, fixed timestamp typo)
CREATE TABLE "SALES" (
  "Sales_ID" SERIAL PRIMARY KEY,
  "Sales_Amount" NUMERIC(10,2),
  "Meal_ID" INT,                            -- Changed from SERIAL to INT for FK
  "Sales_Date_Time" TIMESTAMPTZ,            -- Fixed typo: was TIMESTAMPZ
  "Employee_ID" INT,                        -- Changed from SERIAL to INT for FK
  CONSTRAINT "FK_SALES_Employee_ID"
    FOREIGN KEY ("Employee_ID")
    REFERENCES "EMPLOYEES"("Employee_ID"),
  CONSTRAINT "FK_SALES_Meal_ID"
    FOREIGN KEY ("Meal_ID")
    REFERENCES "Meals"("Meal_ID")
);
CREATE INDEX "idx_sales_info" ON "SALES" ("Sales_Amount", "Sales_Date_Time");

-- Time table (employee time tracking)
CREATE TABLE "Time" (
  "Time_ID" SERIAL PRIMARY KEY,
  "Time_In" TIMESTAMPTZ,
  "Time_Out" TIMESTAMPTZ,
  "Employee_ID" INT,
  CONSTRAINT "FK_Time_Employee_ID"
    FOREIGN KEY ("Employee_ID")
    REFERENCES "EMPLOYEES"("Employee_ID")
);
CREATE INDEX "idx_time_stamps" ON "Time" ("Time_In", "Time_Out");

-- INV table (simplified version - removed circular dependency)
CREATE TABLE "INV" (
  "INV_ID" SERIAL PRIMARY KEY,
  "Name" VARCHAR(20),
  "Description" VARCHAR(100)
);

-- TYPE table (fixed: removed circular FK dependency)
CREATE TABLE "TYPE" (
  "Type_ID" SERIAL PRIMARY KEY,
  "Name" VARCHAR(20),                       -- Changed from CHR(20) to VARCHAR(20)
  "Description" VARCHAR(100),
  "INV_ID" INT,
  CONSTRAINT "FK_TYPE_INV_ID"
    FOREIGN KEY ("INV_ID")
    REFERENCES "INV"("INV_ID")
);
CREATE INDEX "idx_type_info" ON "TYPE" ("Name");
"""
# ==================================================

# Execute the corrected SQL code
try:
    with engine.connect() as connection:
        connection.execute(text(corrected_sql))
        connection.commit()
        print("Corrected SQL executed successfully!")
    
    # Show all created tables
    tables_query = """
    SELECT table_name 
    FROM information_schema.tables 
    WHERE table_schema = 'public'
    ORDER BY table_name;
    """
    df_tables = pd.read_sql(tables_query, engine)
    print("\nAll tables in the database:")
    print(df_tables)
    
    print(f"\nTotal tables created: {len(df_tables)}")
    
    # Show the corrections made
    print("\n" + "="*60)
    print("KEY CORRECTIONS MADE:")
    print("="*60)
    print("✓ Changed CHR() to VARCHAR() - CHR doesn't exist in PostgreSQL")
    print("✓ Changed TIMESTAMPZ to TIMESTAMPTZ - fixed typo")
    print("✓ Changed SERIAL to INT for foreign key columns")
    print("✓ Fixed circular dependencies between tables")
    print("✓ Removed duplicate 'Entity' placeholder tables")
    print("✓ Fixed all index names to be unique")
    print("✓ Added proper DROP TABLE statements")
    print("✓ Corrected foreign key references to point to correct columns")
    print("✓ Fixed table creation order to respect dependencies")
    
except Exception as e:
    print(f"Error executing SQL: {e}")
    print("\nThis demonstrates why proper SQL syntax is important!")

## Example 2: Restaurant Database with Corrected Dependencies

This example shows another student's restaurant database with circular dependencies fixed.

**Problems in Original Code:**
1. **Circular dependencies**: Employee → Address → Employee (impossible to create!)
2. **Circular dependencies**: Inventory → Vendor → Inventory (impossible to create!)
3. **Invalid data type**: `CHR(20)` should be `VARCHAR(20)` or `CHAR(20)`
4. **Column names with spaces**: `"Postal Code"`, `"Unit Price"` - better without spaces
5. **psql commands**: `\c postgres` won't work in Python (removed)
6. **Typo**: `"Adress"` should be `"Address"`

In [ ]:
# ===== CORRECTED RESTAURANT DATABASE =====
# Fixed circular dependencies and syntax errors
restaurant_sql = """
-- Drop tables in correct order (reverse of dependencies)
DROP TABLE IF EXISTS "Time" CASCADE;
DROP TABLE IF EXISTS "Recipe" CASCADE;
DROP TABLE IF EXISTS "Meals" CASCADE;
DROP TABLE IF EXISTS "Sales" CASCADE;
DROP TABLE IF EXISTS "Employee" CASCADE;
DROP TABLE IF EXISTS "Address" CASCADE;
DROP TABLE IF EXISTS "Wage" CASCADE;
DROP TABLE IF EXISTS "Inventory" CASCADE;
DROP TABLE IF EXISTS "Vendor" CASCADE;
DROP TABLE IF EXISTS "Position" CASCADE;

-- Position table (no dependencies)
CREATE TABLE "Position" (
  "POSITION_ID" SERIAL PRIMARY KEY,
  "Name" VARCHAR(20),
  "Description" VARCHAR(200)
);

-- Wage table (depends on Position)
CREATE TABLE "Wage" (
  "WAGE_ID" SERIAL PRIMARY KEY,
  "Name" VARCHAR(35),
  "POSITION_ID" INTEGER,
  CONSTRAINT "FK_Wage_POSITION_ID"
    FOREIGN KEY ("POSITION_ID")
      REFERENCES "Position"("POSITION_ID")
);

-- Vendor table (no dependencies - moved before Inventory)
CREATE TABLE "Vendor" (
  "VENDOR_ID" SERIAL PRIMARY KEY,
  "Name" VARCHAR(35),
  "Phone" VARCHAR(14),
  "Email" VARCHAR(254),
  "Address" VARCHAR(35),                    -- Fixed typo: was "Adress"
  "Postal_Code" VARCHAR(10),                -- Changed from INTEGER, removed space
  "City" VARCHAR(30),
  "Country" VARCHAR(30)
);

-- Inventory table (depends on Vendor, removed circular dependency with Vendor)
CREATE TABLE "Inventory" (
  "TYPE_ID" SERIAL PRIMARY KEY,
  "Name" VARCHAR(20),                       -- Fixed: CHR(20) to VARCHAR(20)
  "VENDOR_ID" INTEGER,
  "Unit_Price" DECIMAL(10,2),               -- Removed space from column name
  "Qty_Per_Unit" INTEGER,                   -- Removed spaces from column name
  "Units_In_Stock" INTEGER,                 -- Removed spaces from column name
  CONSTRAINT "FK_Inventory_VENDOR_ID"
    FOREIGN KEY ("VENDOR_ID")
      REFERENCES "Vendor"("VENDOR_ID")
);

-- Employee table (depends on Position and Wage, removed Address FK to break circular dependency)
CREATE TABLE "Employee" (
  "EMPLOYEE_ID" SERIAL PRIMARY KEY,
  "Name" VARCHAR(35),
  "POSITION_ID" INTEGER,
  "Contact" VARCHAR(20),
  "WAGE_ID" INTEGER,
  CONSTRAINT "FK_Employee_POSITION_ID"
    FOREIGN KEY ("POSITION_ID")
      REFERENCES "Position"("POSITION_ID"),
  CONSTRAINT "FK_Employee_WAGE_ID"
    FOREIGN KEY ("WAGE_ID")
      REFERENCES "Wage"("WAGE_ID")
);

-- Address table (depends on Employee - now comes AFTER Employee)
CREATE TABLE "Address" (
  "ADDRESS_ID" SERIAL PRIMARY KEY,
  "Address" VARCHAR(40),
  "EMPLOYEE_ID" INTEGER,
  CONSTRAINT "FK_Address_EMPLOYEE_ID"
    FOREIGN KEY ("EMPLOYEE_ID")
      REFERENCES "Employee"("EMPLOYEE_ID")
);

-- Sales table (depends on Inventory and Employee)
CREATE TABLE "Sales" (
  "SALES_ID" SERIAL PRIMARY KEY,
  "Sales_Amount" DECIMAL(10,2),             -- Removed space from column name
  "TYPE_ID" INTEGER,
  "Sales_Date" TIMESTAMPTZ,                 -- Removed space from column name
  "EMPLOYEE_ID" INTEGER,
  CONSTRAINT "FK_Sales_TYPE_ID"
    FOREIGN KEY ("TYPE_ID")
      REFERENCES "Inventory"("TYPE_ID"),
  CONSTRAINT "FK_Sales_EMPLOYEE_ID"
    FOREIGN KEY ("EMPLOYEE_ID")
      REFERENCES "Employee"("EMPLOYEE_ID")
);

-- Time table (employee time tracking)
CREATE TABLE "Time" (
  "TIME_ID" SERIAL PRIMARY KEY,
  "Time_In" TIMESTAMPTZ,                    -- Removed space from column name
  "Time_Out" TIMESTAMPTZ,                   -- Removed space and trailing space
  "EMPLOYEE_ID" INTEGER,
  CONSTRAINT "FK_Time_EMPLOYEE_ID"
    FOREIGN KEY ("EMPLOYEE_ID")
      REFERENCES "Employee"("EMPLOYEE_ID")
);

-- Meals table (depends on Inventory)
CREATE TABLE "Meals" (
  "MEALS_ID" SERIAL PRIMARY KEY,
  "Name" VARCHAR(40),
  "TYPE_ID" INTEGER,
  "Price" DECIMAL(10,2),
  CONSTRAINT "FK_Meals_TYPE_ID"
    FOREIGN KEY ("TYPE_ID")
      REFERENCES "Inventory"("TYPE_ID")
);

-- Recipe table (depends on Inventory)
CREATE TABLE "Recipe" (
  "RECIPE_ID" SERIAL PRIMARY KEY,
  "Name" VARCHAR(35),
  "Cost" DECIMAL(10,2),
  "Measurements" VARCHAR(200),
  "Ingredients" VARCHAR(200),
  "TYPE_ID" INTEGER,
  CONSTRAINT "FK_Recipe_TYPE_ID"
    FOREIGN KEY ("TYPE_ID")
      REFERENCES "Inventory"("TYPE_ID")
);
"""
# ==================================================

# Execute the corrected SQL code
try:
    with engine.connect() as connection:
        connection.execute(text(restaurant_sql))
        connection.commit()
        print("Restaurant database created successfully!")
    
    # Show all created tables
    tables_query = """
    SELECT table_name 
    FROM information_schema.tables 
    WHERE table_schema = 'public'
    ORDER BY table_name;
    """
    df_tables = pd.read_sql(tables_query, engine)
    print("\nAll tables in the database:")
    print(df_tables)
    
    print(f"\nTotal tables created: {len(df_tables)}")
    
    # Show the corrections made
    print("\n" + "="*70)
    print("KEY CORRECTIONS MADE TO RESTAURANT DATABASE:")
    print("="*70)
    print("✓ Fixed circular dependency: Employee <-> Address")
    print("  Solution: Removed ADDRESS_ID FK from Employee table")
    print("✓ Fixed circular dependency: Inventory <-> Vendor")
    print("  Solution: Removed TYPE_ID FK from Vendor table")
    print("✓ Changed CHR(20) to VARCHAR(20) in Inventory")
    print("✓ Removed spaces from column names (Unit Price → Unit_Price)")
    print("✓ Fixed typo: 'Adress' → 'Address'")
    print("✓ Changed Postal_Code from INTEGER to VARCHAR(10)")
    print("✓ Fixed column name: 'Time Out ' (had trailing space)")
    print("✓ Removed psql commands (\\c) - not needed in Python")
    print("✓ Proper table creation order to respect all dependencies")
    
    # Show table relationships
    print("\n" + "="*70)
    print("TABLE DEPENDENCY HIERARCHY:")
    print("="*70)
    print("Level 1 (No dependencies): Position, Vendor")
    print("Level 2 (Depends on Level 1): Wage, Inventory")
    print("Level 3 (Depends on Level 2): Employee")
    print("Level 4 (Depends on Level 3): Address, Sales, Time, Meals, Recipe")
    
except Exception as e:
    print(f"Error executing SQL: {e}")
    print("\nThis demonstrates the importance of proper dependency management!")

## Example 3: Simple Restaurant Orders Database - Hillary McAllister

This example shows a simpler restaurant database with common beginner mistakes.

**Problems in Original Code:**
1. **PRINT statement**: `PRINT 'hc'` is T-SQL syntax (SQL Server), not PostgreSQL
2. **Missing data type**: `first name NOT NULL` has no VARCHAR type specified
3. **Space in column name**: `first name` should be `first_name` (no space)
4. **Trailing comma**: Extra comma before `)` in employees table causes syntax error
5. **Missing FK columns**: `orders` table references `employee_id` and `item_id` but never defines them
6. **Missing FK column**: `inventory` table references `supplier_id` but never defines it
7. **Manual IDs**: Using `INT PRIMARY KEY` instead of `SERIAL PRIMARY KEY` (no auto-increment)

In [ ]:
# ===== CORRECTED SIMPLE RESTAURANT DATABASE - Hillary McAllister =====
simple_restaurant_sql = """
-- Drop tables in reverse dependency order
DROP TABLE IF EXISTS inventory CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS employees CASCADE;
DROP TABLE IF EXISTS menu_items CASCADE;
DROP TABLE IF EXISTS suppliers CASCADE;

-- Comment instead of PRINT (PostgreSQL doesn't have PRINT statement)
-- Author: Hillary McAllister

-- Menu Items table (no dependencies)
CREATE TABLE menu_items (
    item_id SERIAL PRIMARY KEY,              -- Changed to SERIAL for auto-increment
    name VARCHAR(100) NOT NULL UNIQUE,
    price DECIMAL(10, 2) NOT NULL CHECK (price >= 0)
);

-- Employees table (no dependencies)
CREATE TABLE employees (
    employee_id SERIAL PRIMARY KEY,          -- Changed to SERIAL for auto-increment
    first_name VARCHAR(50) NOT NULL,         -- Fixed: added VARCHAR(50) data type, removed space
    last_name VARCHAR(50) NOT NULL,
    contact VARCHAR(100) NOT NULL UNIQUE     -- Removed trailing comma
);

-- Suppliers table (no dependencies)
CREATE TABLE suppliers (
    supplier_id SERIAL PRIMARY KEY,          -- Changed to SERIAL for auto-increment
    name VARCHAR(100) NOT NULL UNIQUE,
    phone VARCHAR(20) NOT NULL UNIQUE,       -- Changed to VARCHAR(20) - more appropriate for phone
    email VARCHAR(100) NOT NULL UNIQUE
);

-- Orders table (depends on employees and menu_items)
CREATE TABLE orders (
    order_id SERIAL PRIMARY KEY,             -- Changed to SERIAL for auto-increment
    order_date DATE NOT NULL,                -- Renamed from 'date' to be more specific
    employee_id INTEGER NOT NULL,            -- Added missing column definition
    item_id INTEGER NOT NULL,                -- Added missing column definition
    CONSTRAINT FK_orders_employee_id
        FOREIGN KEY (employee_id) 
        REFERENCES employees(employee_id),
    CONSTRAINT FK_orders_item_id
        FOREIGN KEY (item_id) 
        REFERENCES menu_items(item_id)
);

-- Inventory table (depends on suppliers and menu_items)
CREATE TABLE inventory (
    inventory_id SERIAL PRIMARY KEY,         -- Added proper primary key
    item_id INTEGER NOT NULL,                -- Changed from PRIMARY KEY to regular column
    quantity INTEGER NOT NULL CHECK (quantity >= 0),
    supplier_id INTEGER NOT NULL,            -- Added missing column definition
    CONSTRAINT FK_inventory_item_id
        FOREIGN KEY (item_id)
        REFERENCES menu_items(item_id),
    CONSTRAINT FK_inventory_supplier_id
        FOREIGN KEY (supplier_id) 
        REFERENCES suppliers(supplier_id)
);
"""
# ==================================================

# Execute the corrected SQL code
try:
    with engine.connect() as connection:
        connection.execute(text(simple_restaurant_sql))
        connection.commit()
        print("Simple restaurant database created successfully!")
    
    # Show all created tables
    tables_query = """
    SELECT table_name 
    FROM information_schema.tables 
    WHERE table_schema = 'public'
    ORDER BY table_name;
    """
    df_tables = pd.read_sql(tables_query, engine)
    print("\nAll tables in the database:")
    print(df_tables)
    
    print(f"\nTotal tables created: {len(df_tables)}")
    
    # Show the corrections made
    print("\n" + "="*70)
    print("KEY CORRECTIONS MADE - Hillary McAllister's Database:")
    print("="*70)
    print("✓ Removed PRINT statement (not valid in PostgreSQL)")
    print("  Changed: PRINT 'Hillary McALlister' → -- Author: Hillary McAllister")
    print("✓ Fixed missing data type in employees table")
    print("  Changed: first name NOT NULL → first_name VARCHAR(50) NOT NULL")
    print("✓ Removed space from column name")
    print("  Changed: 'first name' → 'first_name'")
    print("✓ Removed trailing comma in employees table")
    print("  Changed: 'contact VARCHAR(100) NOT NULL UNIQUE,' → no comma")
    print("✓ Added missing columns for foreign keys in orders table")
    print("  Added: employee_id INTEGER NOT NULL")
    print("  Added: item_id INTEGER NOT NULL")
    print("✓ Added missing column for foreign key in inventory table")
    print("  Added: supplier_id INTEGER NOT NULL")
    print("✓ Changed INT PRIMARY KEY to SERIAL PRIMARY KEY (auto-increment)")
    print("✓ Fixed inventory table structure (added inventory_id as PK)")
    print("✓ Renamed 'date' column to 'order_date' (more descriptive)")
    print("✓ Added CHECK constraints for price and quantity (must be >= 0)")
    print("✓ Named all foreign key constraints for better error messages")
    
    # Show table relationships
    print("\n" + "="*70)
    print("TABLE DEPENDENCY HIERARCHY:")
    print("="*70)
    print("Level 1 (No dependencies): menu_items, employees, suppliers")
    print("Level 2 (Depends on Level 1): orders, inventory")
    print("\nForeign Key Relationships:")
    print("  orders.employee_id → employees.employee_id")
    print("  orders.item_id → menu_items.item_id")
    print("  inventory.item_id → menu_items.item_id")
    print("  inventory.supplier_id → suppliers.supplier_id")
    
except Exception as e:
    print(f"Error executing SQL: {e}")
    print("\nThis demonstrates common beginner mistakes in SQL!")

## 6. Additional Operations

### Drop a Table (Use with Caution!)

The DROP TABLE command permanently deletes a table and **ALL its data**. This action cannot be undone!

**When to use DROP TABLE:**
- Removing test tables
- Cleaning up old/unused tables
- Starting fresh with a new table structure

**Safety tips:**
- ALWAYS double-check the table name before executing
- Use `DROP TABLE IF EXISTS` to avoid errors if table doesn't exist
- Consider backing up data before dropping tables
- This code is commented out by default to prevent accidents

In [ ]:
# Example: Drop a table (be very careful with this!)
drop_table_sql = """
-- DROP TABLE IF EXISTS table_name;  -- Replace 'table_name' with actual table to drop
"""
# IF EXISTS prevents errors if the table doesn't exist
# Without IF EXISTS, you'd get an error if the table isn't there

# The code below is commented out for safety
# To use it:
# 1. Replace 'table_name' in the SQL above with your actual table name
# 2. Uncomment the lines below by removing the # symbols
# 3. Run the cell

# with engine.connect() as connection:
#     connection.execute(text(drop_table_sql))
#     connection.commit()
#     print("Table dropped successfully!")

print("To drop a table, uncomment the code above and specify the table name.")
print("WARNING: Dropping a table permanently deletes all data. This cannot be undone!")